openapi: 3.0.3
info:
  title: Transmit Message API
  description: Transmit APIs
  version: '20250101'
  x-go-package: github.com/oapi-codegen/runtime
servers:
  - url: https://api.transmitmessage.com
security:
  - ApiKeyAuth: []
tags:
  - name: MMS
    description: The primary method of sending MMS
  - name: SMS
    description: >-
      The primary method of sending SMS.


      You can elect to pass us the recipient numbers from your database each
      time you make an API call.


      In order to send to a local number for a recipient the Sender virtual
      number needs to be in the same country.


      You can pass us the recipient number in international format and we will
      deliver your message with the Sender virtual number on your account for
      the same country.


      If you do not have a Sender virtual number for the same country we will
      use a local number for the country you are sending to in order to deliver
      your message.


      List of countries we currently deliver to: [Global Delivery
      List](https://help.kudosity.com/support/solutions/articles/44001077065-global-sms-delivery-list)
  - name: Webhook
    description: >-
      Our webhooks API allows you to subscribe to events for SMS, MMS, and RCS
      messages. Using them requires you to have URLs (https) configured on your
      account that can receive POST requests over the internet.


      The `event_type` field is an enum that specifies which event to subscribe
      to:


      - LINK_HIT

      - OPT_OUT

      - MMS_STATUS

      - MMS_INBOUND

      - SMS_INBOUND

      - SMS_STATUS

      - RCS_STATUS
          

      For status events, the nested `status` field is an enum with these values:


      - FAILED: Failed because of an error from the carrier or handset.
          
      - SENT: Submitted to the carrier.

      - ACCEPTED: Accepted by the carrier and delivery may have been attempted
      (but is not confirmed).

      - DELIVERED: Delivered to handset.

      - SOFT_BOUNCE: Undeliverable due to handset being switched off, out of
      range or other temporary deliverability issue.

      - HARD_BOUNCE: Handset was disconnected.

      - OTHER: Any other status from the carrier.
          

      ## Link Hit


      The `LINK_HIT` event is triggered any time a recipient visits a link that
      is tracked. Track Links is an optional flag on the send message API calls.
      Along with the URL that was being tracked is a hits field indicating how
      many visits this tracked link has in total and a source_message which
      contains the track link sent to the recipient.


      ###### Example Payloads


      ```json Hit link in MMS {
        "event_type": "LINK_HIT",
        "timestamp": "2021-05-06T05:19:42Z",
        "link_hit": {
          "hits": 1,
          "url": "https://www.example.com/abc",
          "source_message": {
            "type": "MMS",
            "id": "b50e4dc1-e57f-459c-a15c-526bee00a4c4",
            "message": "Hey, Check this out! http://clckme.info/KYhSsuIH Opt-out reply STOP",
            "message_ref": "D701",
            "recipient": "61435790000",
            "sender": "61481074191",
            "subject": "Hello",
            "content_urls": [
              "https://res.cloudinary.com/burstsms/image/upload/v1618798563/284KB_qgqtbe.jpg"
            ]
          }
        }
      } ``` ```json Hit link in SMS {
        "event_type": "LINK_HIT",
        "timestamp": "2021-07-20T23:14:04Z",
        "link_hit": {
          "hits": 1,
          "url": "https://www.example.com/abc",
          "source_message": {
            "type": "SMS",
            "id": "faf68308-16cd-4cf9-aef7-47342bd405be",
            "message": "Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh ",
            "message_ref": "D301",
            "recipient": "61435795809",
            "sender": "61481074185"
          }
        }
      } ```

      ## Opt Out


      The `OPT_OUT` event is triggered when a recipient has visited an opt-out
      link in a message they have received or by sending a message with the text
      "STOP".


      Using parameter \[opt-out-link\] in message body, inserts the opt-out
      link.


      The source field will be set according to the method a recipient has used
      to opt-out and contain a value of either link or SMS.
        

      ###### Example Payloads


      ```json Opt out via link {
        "event_type": "OPT_OUT",
        "timestamp": "2021-05-06T05:16:20Z",
        "opt_out": {
          "source": "LINK_HIT",
          "source_message": {
            "type": "SMS",
            "id": "a51ebe4e-a412-440e-a8d9-464e68a521cc",
            "message": "Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh",
            "message_ref": "ncc5009d",
            "recipient": "61435790000",
            "sender": "61481074190"  
          }
        }
      } ``` ```json Opt out via message {
        "event_type": "OPT_OUT",
        "timestamp": "2021-05-06T05:16:20Z",
        "opt_out": {
          "source": "SMS_INBOUND",
          "source_message": {
            "type": "SMS",
            "id": "a51ebe4e-a412-440e-a8d9-464e68a521cc",
            "message": "Hey, Check this out! http://clckme.info/KYhSsuIH for Opt-out reply STOP or hit opt out link - http://nsub.me/vqHTcCsh",
            "message_ref": "ncc5009d",
            "recipient": "61435790000",
            "sender": "61481074190"
          }
        }
      } ```

      ## MMS Status


      The `MMS_STATUS` event data is posted to you for changes to an MMS message
      status. These are currently only comprised of internal statuses (SENT,
      FAILED).


      ###### Example Payload


      ```json {
        "event_type": "MMS_STATUS",
        "timestamp": "2021-05-06T05:19:33Z",
        "status": {
          "type": "MMS",
          "id": "b50e4dc1-e57f-459c-a15c-526bee00a4c4",
          "message_ref": "D7001",
          "recipient": "61435790000",
          "sender": "61481074191",
          "status": "SENT"
        }
      } ```

      ## SMS Inbound


      The `SMS_INBOUND` event is posted to you on receipt of an SMS sent from a
      recipient to one of the senders listed on your account. For convenience we
      will try and find a message that you have sent to this recipient from that
      sender and supply it as the `last_message` field. This is useful for
      determining if an inbound message is potentially a reply. The `routed_via`
      field will display when a shared local number has been used to deliver
      your message.


      ###### Example Payload


      ```json {
        "event_type": "SMS_INBOUND",
        "timestamp": "2021-05-06T05:16:33Z",
        "mo": {
          "type":"SMS",
          "id": "alss-2way-605b31c7-d2c49104",
          "message": "Stop",
          "recipient": "61481074190",
          "routed_via": "447507333300",
          "sender": "447507222200",
          "last_message": {
            "type":"SMS",
            "id": "a51ebe4e-a412-440e-a8d9-464e68a521cc",     
            "message": "Hey, check this out!",
            "message_ref": "ncc5009d",
            "recipient": "447507222200",
            "routed_via": "447507333300",
            "sender": "61481074190"
          }
        }
      } ```

      ## SMS Status


      The `SMS_STATUS` event data is posted to you for changes to a SMS message
      status. Multiple status events can be triggered for a single message.


      The `routed_via` field will display when a shared local number has been
      used to deliver your message.


      ###### Example Payload


      ```json {
        "event_type": "SMS_STATUS",
        "timestamp": "2021-05-06T05:16:07Z",
        "status": {
          "type": "SMS",
          "id": "a51ebe4e-a412-440e-a8d9-464e68a521cc",
          "message_ref": "ncc5009d",
          "recipient": "447507222200",
          "routed_via": "447507333300",
          "sender": "61481074190",
          "status": "SENT"
        }
      } ```

      ## RCS Status


      The `RCS_STATUS` event data is posted to you for changes to an RCS message
      status. RCS supports enhanced status tracking including read receipts.


      RCS-specific statuses include:


      - SENT: Submitted to the carrier.

      - DELIVERED: Delivered to handset.

      - FAILED: Failed because of an error from the carrier or handset.

      - READ: Message was read by the recipient (RCS-specific feature).


      ###### Example Payload


      ```json {
        "event_type": "RCS_STATUS",
        "timestamp": "2025-01-07T05:16:07Z",
        "webhook_id": "fd0e6485-b905-44c1-bd55-fee1d0d6d864",
        "webhook_name": "RCS Status Webhook",
        "status": {
          "type": "RCS",
          "id": "6fdae71c-dad7-4c36-9734-a69693ecf3b4",
          "message_ref": "order-12345",
          "recipient": "+447903749662",
          "sender": "DemoSender",
          "status": "READ"
        }
      } ```
paths:
  /v2/whatsapp/messages:
    get:
      tags:
        - WhatsApp
      summary: List WhatsApp messages
      description: >
        Retrieves a list of WhatsApp messages for your account with flexible
        date filtering.


        Messages are returned in reverse chronological order (newest first).


        **Date Filtering:**

        - Preset ranges (last_week, last_thirty, last_month): Calculated using
        your account timezone

        - Custom date ranges: Use RFC3339 timestamps (max 90 days)

        - The 'all' option provides up to 365 days of history

        - All timestamps in responses are returned in UTC format


        **Pagination:**

        - Cursor-based pagination for efficient data retrieval

        - Control page size with the limit parameter (1-100 messages per page)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: date_range
          in: query
          description: >
            Predefined date range filter. Preset ranges use your account
            timezone to calculate relative dates:

            - 'last_week': Last 7 days from midnight in your account timezone

            - 'last_thirty': Last 30 days from midnight in your account timezone

            - 'last_month': Previous calendar month in your account timezone

            - 'all': All dates (limited to last 365 days) - default

            - 'custom_date': Use start_date and end_date parameters with
            explicit RFC3339 timestamps
          schema:
            type: string
            enum:
              - last_week
              - last_thirty
              - last_month
              - all
              - custom_date
            default: all
            x-go-type-skip-optional-pointer: true
          example: all
        - name: start_date
          in: query
          description: >
            Start date for custom date range in RFC3339 format (e.g.,
            2025-08-26T10:30:00Z).

            Required when date_range is 'custom_date'.

            Must be before end_date.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '2025-12-01T00:00:00Z'
        - name: end_date
          in: query
          description: >
            End date for custom date range in RFC3339 format (e.g.,
            2025-08-26T23:59:59Z).

            Required when date_range is 'custom_date'.

            Must be after start_date.

            The range between start_date and end_date cannot exceed 90 days.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '2025-12-31T23:59:59Z'
        - name: limit
          in: query
          required: false
          description: Maximum number of messages to return per page (1-100, default 25).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 25
            x-go-type-skip-optional-pointer: true
          example: 25
        - name: cursor
          in: query
          required: false
          description: >
            Pagination cursor returned from a previous request.

            Pass the next_cursor or prev_cursor value from a previous response

            to fetch the next or previous page of results. Omit for the first
            page.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: MTIzNDU2
        - name: direction
          in: query
          description: >
            Pagination direction when using a cursor:

            - 'next': Get older messages (default, moves forward through
            history)

            - 'prev': Get newer messages (moves backward through history)
          schema:
            type: string
            enum:
              - next
              - prev
            default: next
            x-go-type-skip-optional-pointer: true
          example: next
      responses:
        '200':
          $ref: '#/components/responses/ListWhatsappMessagesSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - WhatsApp
      summary: Send WhatsApp message
      description: >-
        Sends a single templated message to a single recipient. Templates need
        to be registered and pre-approved by WhatsApp.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/whatsapp/messages/{id}:
    get:
      tags:
        - WhatsApp
      summary: Get WhatsApp message
      description: >
        Retrieves details of a previously sent WhatsApp message by its unique
        identifier.

        Returns message content, delivery status, and metadata.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the WhatsApp message to retrieve
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          $ref: '#/components/responses/GetWhatsappSuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/rcs/messages:
    get:
      tags:
        - RCS
      summary: List RCS messages
      description: >
        Retrieves a list of RCS messages for your account with flexible date
        filtering.


        Messages are returned in reverse chronological order (newest first).


        **Date Filtering:**

        - Preset ranges (last_week, last_thirty, last_month): Calculated using
        your account timezone

        - Custom date ranges: Use RFC3339 timestamps (max 90 days)

        - The 'all' option provides up to 365 days of history

        - All timestamps in responses are returned in UTC format


        **Pagination:**

        - Cursor-based pagination for efficient data retrieval

        - Control page size with the limit parameter (1-100 messages per page)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: date_range
          in: query
          description: >
            Predefined date range filter. Preset ranges use your account
            timezone to calculate relative dates:

            - 'last_week': Last 7 days from midnight in your account timezone

            - 'last_thirty': Last 30 days from midnight in your account timezone

            - 'last_month': Previous calendar month in your account timezone

            - 'all': All dates (limited to last 365 days) - default

            - 'custom_date': Use start_date and end_date parameters with
            explicit RFC3339 timestamps
          schema:
            type: string
            enum:
              - last_week
              - last_thirty
              - last_month
              - all
              - custom_date
            default: all
            x-go-type-skip-optional-pointer: true
          example: all
        - name: start_date
          in: query
          description: >
            Start date for custom date range in RFC3339 format (e.g.,
            2025-08-26T10:30:00Z).

            Required when date_range is 'custom_date'.

            Must be before end_date.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '2025-12-01T00:00:00Z'
        - name: end_date
          in: query
          description: >
            End date for custom date range in RFC3339 format (e.g.,
            2025-08-26T23:59:59Z).

            Required when date_range is 'custom_date'.

            Must be after start_date.

            The range between start_date and end_date cannot exceed 90 days.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '2025-12-31T23:59:59Z'
        - name: limit
          in: query
          required: false
          description: Maximum number of messages to return per page (1-100, default 25).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 25
            x-go-type-skip-optional-pointer: true
          example: 25
        - name: cursor
          in: query
          required: false
          description: >
            Pagination cursor returned from a previous request.

            Pass the next_cursor or prev_cursor value from a previous response

            to fetch the next or previous page of results. Omit for the first
            page.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: MTIzNDU2
        - name: direction
          in: query
          description: >
            Pagination direction when using a cursor:

            - 'next': Get older messages (default, moves forward through
            history)

            - 'prev': Get newer messages (moves backward through history)
          schema:
            type: string
            enum:
              - next
              - prev
            default: next
            x-go-type-skip-optional-pointer: true
          example: next
      responses:
        '200':
          $ref: '#/components/responses/ListRcsMessagesSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - RCS
      summary: Send RCS message
      description: |
        This endpoint is in beta and may change in future versions.
        Sends an RCS message to a single recipient.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RcsRequest'
      responses:
        '200':
          $ref: '#/components/responses/RCSSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/rcs/capabilities:
    post:
      tags:
        - RCS
      summary: Check RCS capability for phone numbers
      description: >
        Synchronously checks whether a list of phone numbers can receive RCS
        from your sender.


        Use this **before** sending to decide between RCS and SMS fallback.
        Designed for routing-time lookups: small batches (1–10 numbers
        recommended for best latency), immediate response.


        Results are best-effort and reflect capability at the moment of the
        lookup. **Do not use this as a hard gate** on sending — treat `UNKNOWN`
        as reachable and rely on SMS fallback for hard delivery guarantees.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RcsCapabilityCheckRequest'
      responses:
        '200':
          $ref: '#/components/responses/RcsCapabilityCheckSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/rcs/messages/{id}:
    get:
      tags:
        - RCS
      summary: Get RCS message
      description: >
        Retrieves details of a previously sent RCS message by its unique
        identifier.

        Returns message content, delivery status, and metadata.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the RCS message to retrieve
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          $ref: '#/components/responses/GetSuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/sms/{id}:
    get:
      tags:
        - SMS
      summary: Get SMS
      description: >-
        Retrieves information about an existing SMS message. You only need to
        supply the unique message id that was returned upon message creation.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: Unique ID of the sent SMS
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A single SMS message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSResponse'
        '404':
          description: SMS not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: SMS not found
  /v2/sms:
    get:
      tags:
        - SMS
      summary: List SMS
      description: >-
        Retrieves a list of SMS messages. You can limit the number of messages
        returned and filter by properties listed in the parameters section.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: query
          in: query
          description: |
            Filter query parameters are added to the URL. Use as:
            ?limit=1&page=2&start_date=2024-01-01T00:00:00Z
          schema:
            $ref: '#/components/schemas/ListSMSRequest'
      responses:
        '200':
          description: A list of SMS messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSMSResponse'
    post:
      tags:
        - SMS
      summary: Send SMS
      description: >-
        Send a message from sender to recipient using the values shown in the
        parameters section.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSMSRequest'
      responses:
        '200':
          description: The SMS that was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSResponse'
  /v2/mms:
    post:
      tags:
        - MMS
      summary: Send MMS
      description: >-
        The Send MMS endpoint allows you to send multimedia messages (MMS) to
        recipients. 
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MMSSendRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MMSResponse'
              example:
                id: 6fdae71c-dad7-4c36-9734-a69693ec2318
                recipient: '61435795809'
                sender: '61481074185'
                country: AU
                subject: USS Enterprise
                message: Check out this amazing specimen.
                message_ref: ncc1701d
                content_urls:
                  - >-
                    http://res.cloudinary.com/burstsms/image/upload/v1590111670/enterprise-d_ghf9t8.jpg
                status: pending
                track_links: true
                created_at: '2022-03-29T04:42:01.631708761Z'
                updated_at: '2022-03-29T04:42:01.631708761Z'
  /v2/mms/{id}:
    get:
      tags:
        - MMS
      summary: Get MMS
      description: >-
        This request retrieves the information of an existing sent MMS message.
        You only need to supply the unique message id that was returned upon
        creation.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the sent MMS
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A single MMS message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MMSResponse'
              example:
                id: 6fdae71c-dad7-4c36-9734-a69693ec2318
                recipient: '61435795809'
                sender: '61481074185'
                country: AU
                subject: USS Enterprise
                message: Check out this amazing specimen.
                message_ref: ncc1701d
                content_urls:
                  - >-
                    http://res.cloudinary.com/burstsms/image/upload/v1590111670/enterprise-d_ghf9t8.jpg
                status: sent
                track_links: true
                created_at: '2022-03-29T04:42:01.631708Z'
                updated_at: '2022-03-29T04:42:01.776094Z'
        '400':
          description: Invalid MMS ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid MMS ID
        '404':
          description: MMS not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: MMS not found
  /v2/webhook:
    post:
      tags:
        - Webhook
      summary: Create Webhook
      security:
        - ApiKeyAuth: []
      description: >-
        We use webhooks to let your application know when events happen, such as
        receiving an SMS message. When the event occurs, the system makes an
        HTTP request (usually a POST) to the URL you configured for the webhook.
        The request will include details of the event such as the incoming phone
        number or the body of an incoming message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: >-
                      Validation Error: rate_limit: greater than the maximum
                      value of 10000
    get:
      tags:
        - Webhook
      summary: Retrieve all webhooks
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
  /v2/webhook/{id}:
    get:
      tags:
        - Webhook
      summary: Get a webhook by ID
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: Unique ID of the webhook
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A single webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Webhook not found
    put:
      tags:
        - Webhook
      summary: Update Webhook
      description: >-
        Updates the webhook. Any fields not provided in the request body will
        reset to their default values.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: Unique identifier for the webhook
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Validation Error: event_type: required'
    delete:
      tags:
        - Webhook
      summary: Delete Webhook
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the webhook
      responses:
        '200':
          description: Webhook deletion confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeleteResponse'
        '400':
          description: Invalid webhook ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid webhook ID
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Webhook not found
  /v2/senders/registrations:
    get:
      tags:
        - Senders
      summary: List sender registrations
      security:
        - ApiKeyAuth: []
      description: >
        Returns a paginated list of sender registrations for the authenticated
        account.

          - If the account does not use parent/child accounts, the API returns registrations for the authenticated account.
          - If the account is a parent account, the API returns registrations for the parent account and all child accounts.
      parameters:
        - name: page
          in: query
          required: false
          description: Page number to return (1-based). Default 1.
          schema:
            type: integer
            minimum: 1
            default: 1
            x-go-type-skip-optional-pointer: true
          example: 1
        - name: limit
          in: query
          required: false
          description: Maximum number of results per page. Default 25, maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
            x-go-type-skip-optional-pointer: true
          example: 25
        - name: child_account_id
          in: query
          required: false
          description: >-
            Filter registrations by child account ID. Returns only registrations
            belonging to the specified child account.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '1234'
        - name: sender
          in: query
          required: false
          description: >-
            Filter registrations by sender phone number in E.164 format (e.g.,
            61412312312).
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: '61412312312'
        - name: status
          in: query
          required: false
          description: >
            Filter registrations by status. Accepts one or more comma-separated
            values. Valid values: PENDING_APPROVAL, VERIFIED, REJECTED,
            CANCELLED.
          schema:
            type: string
            x-go-type-skip-optional-pointer: true
          example: VERIFIED
      responses:
        '200':
          $ref: '#/components/responses/ListSenderRegistrationsSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - Senders
      summary: Create a sender registration
      security:
        - ApiKeyAuth: []
      description: |
        Creates a sender registration and sets `status` to `PENDING_APPROVAL`.

          - If the account does not use parent/child accounts, the API ignores `child_account_id` and registers the sender for the authenticated account.
          - If the account is a parent account and you omit `child_account_id`, the API registers the sender for the parent account.
          - If you provide `child_account_id`, the API registers the sender for that child account.
          - If a registration for the same sender was already created within the last 30 minutes (for the same account or child account), the API returns `429 Too Many Requests`. This prevents abuse of the verification retry limit.
          - Any existing `PENDING_APPROVAL` registration for the same sender (for the same account or child account) is automatically cancelled before the new one is created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderRegistrationRequest'
            example:
              sender: '61412312312'
              country: AU
              type: PERSONAL_MOBILE_NUMBER
              child_account_id: '1234'
      responses:
        '201':
          $ref: '#/components/responses/SenderRegistrationSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/senders/phone-numbers/{phone_number}:
    delete:
      tags:
        - Senders
      summary: Delete a sender by phone number
      security:
        - ApiKeyAuth: []
      description: |
        Deletes a sender phone number from the account.

          - If the account does not use parent/child accounts, the API ignores `child_account_id` and deletes the sender from the authenticated account.
          - If the account is a parent account and you omit `child_account_id`, the API deletes the sender from the parent account.
          - If you provide `child_account_id`, the API deletes the sender from that child account.
      parameters:
        - name: phone_number
          in: path
          required: true
          description: >-
            The phone number to delete in E.164 international format, for
            example 61412312312.
          schema:
            type: string
          example: '61412312312'
        - name: child_account_id
          in: query
          required: false
          description: >-
            Child account ID to delete the sender from. Ignored for accounts
            without parent/child accounts. If omitted for a parent account, the
            API deletes the sender from the parent account.
          schema:
            type: string
          example: '456'
      responses:
        '204':
          $ref: '#/components/responses/SenderDeleteNoContentResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/senders/registrations/{registration_id}/verifications:
    post:
      tags:
        - Senders
      summary: Request a verification code
      security:
        - ApiKeyAuth: []
      description: >
        Requests a verification code for a sender registration. This endpoint
        supports registrations with `type` = `PERSONAL_MOBILE_NUMBER` only.

          - The API delivers the code to the registered sender number using the selected `method`, such as `SMS`.
          - Codes expire after 30 minutes.
          - You have a maximum of 5 attempts to confirm the code.
      parameters:
        - name: registration_id
          in: path
          required: true
          description: Unique identifier for the sender registration.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationRequest'
            example:
              method: SMS
              originating_sender: '61400000000'
      responses:
        '201':
          $ref: '#/components/responses/VerificationSuccessResponse'
        '400':
          $ref: '#/components/responses/InputValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          description: >-
            A verification already exists for this registration. Create a new
            sender registration to request a new code.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonErrorResponse'
                  - type: object
                    properties:
                      error:
                        $ref: '#/components/schemas/ConflictProblem'
              example:
                error:
                  detail: >-
                    a verification code has already been sent for this
                    registration; wait 30 minutes and create a new sender
                    registration to request a new code
                  status: 409
                  title: Conflict
                  type: https://developers.kudosity.com/reference/errors#conflict
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /v2/senders/registrations/{registration_id}/verifications/confirmation:
    post:
      tags:
        - Senders
      summary: Confirm a verification code
      security:
        - ApiKeyAuth: []
      description: >
        Confirms a sender registration by submitting the verification code.

        On success, the verification `status` becomes `CONFIRMED` and the sender
        registration `status` becomes `VERIFIED`.

        If you exceed the allowed attempts, the verification becomes `FAILED`.
        Request a new verification code to try again.
      parameters:
        - name: registration_id
          in: path
          required: true
          description: Unique identifier of the sender registration.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationConfirmRequest'
            example:
              code: '123456'
      responses:
        '200':
          $ref: '#/components/responses/VerificationConfirmationSuccessResponse'
        '400':
          $ref: >-
            #/components/responses/VerificationConfirmationInputValidationResponse
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
components:
  schemas:
    CampaignAudienceSourceType:
      type: string
      description: |
        The type of audience source.
        - `contact_list` — an audience sourced from a saved contact list
      enum:
        - contact_list
    CampaignContactListSource:
      type: object
      description: An audience source backed by a saved contact list.
      required:
        - id
      properties:
        id:
          type: string
          description: The unique identifier of the contact list.
          example: '123456'
          x-oapi-codegen-extra-tags:
            valid: required
    CampaignAudienceSource:
      type: object
      description: A single source contributing contacts to the campaign audience.
      required:
        - source_type
        - source
      properties:
        source_type:
          $ref: '#/components/schemas/CampaignAudienceSourceType'
        source:
          type: object
          description: >
            The audience source details. Populate the field matching
            `source_type`:

            - `contact_list` when `source_type` is `contact_list`
          properties:
            contact_list:
              $ref: '#/components/schemas/CampaignContactListSource'
    CampaignAudience:
      type: object
      description: Defines the set of contacts who will receive campaign messages.
      required:
        - include
      properties:
        include:
          type: array
          description: >
            Exactly one audience source whose contacts are included in the
            campaign.

            Only a single contact list is supported in v1; requests with
            multiple sources will be rejected.
          minItems: 1
          maxItems: 1
          items:
            $ref: '#/components/schemas/CampaignAudienceSource'
    CampaignWhatsappTemplateContent:
      type: object
      description: A pre-approved WhatsApp message template.
      required:
        - name
      properties:
        name:
          type: string
          description: >
            The name of the WhatsApp message template configured in your
            Kudosity account.

            The template must be registered and approved in your account before
            sending.
          example: june_sale_2026
          x-oapi-codegen-extra-tags:
            valid: required
    CampaignWhatsAppChannelType:
      type: string
      description: The WhatsApp messaging channel identifier.
      enum:
        - WHATSAPP
    CampaignWhatsAppChannelContentType:
      type: string
      description: >
        The type of content to send via WhatsApp.

        - `template` — a WhatsApp message template configured in your Kudosity
        account
      enum:
        - template
    CampaignChannelBase:
      type: object
      description: Common properties shared by all channel configurations.
      required:
        - channel
        - sender
        - content_type
        - content
      properties:
        channel:
          type: string
          description: The messaging channel (e.g. `WHATSAPP`).
        sender:
          type: string
          description: The sender ID or phone number registered on the channel.
          x-oapi-codegen-extra-tags:
            valid: required
        content_type:
          type: string
          description: >-
            The type of content being sent. Determines which field inside
            `content` is used.
        content:
          type: object
          description: >-
            The message content. The relevant field is determined by
            `content_type`.
    CampaignChannel:
      description: |
        Configuration for a single messaging channel used in the campaign.
        The `channel` field determines which schema applies:
        - `channel: WHATSAPP` — WhatsApp template message
      oneOf:
        - $ref: '#/components/schemas/CampaignWhatsAppChannel'
      discriminator:
        propertyName: channel
        mapping:
          WHATSAPP: '#/components/schemas/CampaignWhatsAppChannel'
    CampaignWhatsAppChannel:
      allOf:
        - $ref: '#/components/schemas/CampaignChannelBase'
        - type: object
          description: >-
            A WhatsApp channel. Sends template messages configured in your
            Kudosity account.
          properties:
            channel:
              $ref: '#/components/schemas/CampaignWhatsAppChannelType'
            sender:
              type: string
              description: >
                The phone number registered as a sender in your Kudosity
                account.

                Use E.164 international format (e.g. `61438000000` for an
                Australian number).
              example: '61438000000'
            content_type:
              $ref: '#/components/schemas/CampaignWhatsAppChannelContentType'
            content:
              type: object
              description: |
                The message content. Populate the field matching `content_type`:
                - `template` when `content_type` is `template`
              properties:
                template:
                  $ref: '#/components/schemas/CampaignWhatsappTemplateContent'
    CampaignSendMethod:
      type: string
      description: |
        Controls when campaign messages are sent.
        - `IMMEDIATE` — messages are sent as soon as the campaign is accepted
      enum:
        - IMMEDIATE
    CampaignSendStrategy:
      type: object
      description: Defines when and how campaign messages are sent.
      required:
        - method_type
      properties:
        method_type:
          $ref: '#/components/schemas/CampaignSendMethod'
    CampaignStatus:
      type: string
      description: |
        Current lifecycle status of the campaign.
        - `PENDING` — received and awaiting processing
        - `RUNNING` — actively sending messages to recipients
        - `COMPLETED` — all messages have been dispatched
        - `FAILED` — the campaign could not be sent
        - `CANCELLED` — the campaign was cancelled before sending
      enum:
        - PENDING
        - RUNNING
        - COMPLETED
        - FAILED
        - CANCELLED
    CampaignResponse:
      type: object
      description: A campaign resource returned after creation.
      required:
        - id
        - name
        - status
        - audience
        - channels
        - send_strategy
        - created_at
      properties:
        id:
          type: string
          description: The unique identifier of the campaign.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          type: string
          description: The name of the campaign.
          example: June Sale
        status:
          $ref: '#/components/schemas/CampaignStatus'
        audience:
          $ref: '#/components/schemas/CampaignAudience'
        channels:
          type: array
          description: Channel configurations for the campaign.
          items:
            $ref: '#/components/schemas/CampaignChannel'
        send_strategy:
          $ref: '#/components/schemas/CampaignSendStrategy'
        created_at:
          type: string
          format: date-time
          description: Timestamp in RFC3339 format when the campaign was created.
          example: '2026-06-16T10:00:00Z'
    CommonResponseMeta:
      type: object
      properties:
        request:
          type: object
          description: Optional metadata (e.g. requestId, traceId)
        meta:
          type: object
          description: Optional pagination, feature flags, etc.
    CommonSuccessResponse:
      allOf:
        - type: object
          properties:
            data:
              type: object
              description: Success response payload
          required:
            - data
        - $ref: '#/components/schemas/CommonResponseMeta'
    Uri:
      type: string
      description: string providing an URI formatted according to IETF RFC 3986.
      format: uri
    ProblemDetails:
      description: |
        A Problem Details object (RFC 9457).

        Additional properties specific to the problem type may be present.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Uri'
        title:
          type: string
          description: >-
            A short summary of the problem type. Written in English and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized).
        detail:
          type: string
          description: >-
            A human-readable explanation specific to this occurrence of the
            problem
        status:
          type: integer
          description: The HTTP status code corresponding to this error.
      required:
        - type
        - title
        - detail
        - status
      example:
        type: https://developers.kudosity.com/reference/errors
        title: Description of the type of problem that occurred
        detail: Description of specific occurrence of the problem
        status: 400
    CommonErrorResponse:
      allOf:
        - type: object
          properties:
            error:
              $ref: '#/components/schemas/ProblemDetails'
          required:
            - error
        - $ref: '#/components/schemas/CommonResponseMeta'
    InputValidationIssue:
      type: object
      description: |
        An issue detected during input validation.
      properties:
        name:
          type: string
          description: The name of the param or field that failed validation.
          x-go-type-skip-optional-pointer: true
        code:
          type: integer
          description: The internal api specific error code.
          x-go-type-skip-optional-pointer: true
        message:
          description: The error message
          type: string
          x-go-type-skip-optional-pointer: true
    InputValidationProblem:
      description: >
        This problem occurs when the request is deemed unprocessable.


        Your client issued a request that failed validation. Certain validation
        libraries return multi-errors and cannot be easily parsed into discreet
        types. This problem type, afforded the provider with the ability to
        surface all validation errors and negate the need for a trial and error
        workflow on your side.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
        - properties:
            issues:
              description: An array of issues detected during input validation.
              type: array
              x-go-type-skip-optional-pointer: true
              items:
                $ref: '#/components/schemas/InputValidationIssue'
      example:
        type: https://developers.kudosity.com/reference/errors#input-validation
        title: Invalid Request
        detail: Request validation failed
        status: 400
        issues:
          - name: field_name
            message: field_name is required
    UnauthorizedProblem:
      description: >
        HTTP 401 Unauthorized - API authentication failed.


        The request was rejected because the API key is missing, invalid,
        expired, or lacks sufficient permissions for this resource. Check your
        Authorization header and API key configuration.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#unauthorized
        title: API Authentication Failed
        detail: >-
          Missing or invalid API key in Authorization header. Verify your API
          key is correct and has the required permissions
        status: 401
    ConflictProblem:
      description: >
        HTTP 409 Conflict - The request conflicts with the current state of the
        resource.


        Your client application attempted an operation that conflicts with an
        existing resource or an operation already in progress. Review the
        current state of the resource before retrying.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#conflict
        title: Conflict
        detail: The request conflicts with the current state of the resource
        status: 409
    InternalServerErrorProblem:
      description: >
        This problem occurs when the server encounters an unexpected condition
        that prevents it from fulfilling the request.


        Your client application did everything correct. Unfortunately our API
        encountered a condition that resulted in this problem.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#server-error
        title: Server Error
        detail: The server encountered an unexpected error
        status: 500
    WhatsappContentType:
      type: string
      description: Type of the message content.
      enum:
        - text
        - template
        - custom
    Text:
      type: object
      description: Text content for the message.
      properties:
        message:
          type: string
          minLength: 1
          description: The text message body.
      required:
        - message
    Template:
      type: object
      description: Template details for the message content.
      properties:
        name:
          type: string
          description: |
            The **exact name** of the WhatsApp template.

            - **Format:** Lowercase, alphanumeric, underscores only.
            - **Example:** `order_confirmation`
            - **Must be pre-approved** in your WhatsApp Business account.
        parameters:
          type: array
          description: >
            The **dynamic values** to populate placeholdes in the template
            message.


            - The number of parameters **must match** the template placeholders.

            - Supports **text only** (strings). Other types (e.g., images,
            documents) are not allowed.

            - **Example Usage:**
              - Template: `"Hello, {1}! Your order {2} has been shipped."`
              - Parameters: `["Tony", "#12345"]`
              - Final message: `"Hello, Tony! Your order #12345 has been shipped."`
          items:
            type: string
        locale:
          type: string
          x-go-type-skip-optional-pointer: true
          description: >-
            Optional locale for the template (e.g., en_US), if not provided, the
            default locale is `en`.
      required:
        - name
    TextContent:
      type: object
      properties:
        text:
          $ref: '#/components/schemas/Text'
      required:
        - text
    TemplateContent:
      type: object
      properties:
        template:
          $ref: '#/components/schemas/Template'
      required:
        - template
    Custom:
      type: object
      description: Custom content following the Meta Cloud API guidelines.
      additionalProperties: true
    CustomContent:
      type: object
      properties:
        custom:
          $ref: '#/components/schemas/Custom'
      required:
        - custom
    SMSFallback:
      type: object
      description: SMS fallback message details.
      properties:
        sender:
          type: string
          description: >-
            The sender number to use for SMS fallback, which can be in
            [E.164](http://en.wikipedia.org/wiki/E.164) international format or
            an alphanumeric sender ID.
          x-go-type-skip-optional-pointer: true
        message:
          type: string
          description: The message to send via SMS.
      required:
        - message
    WhatsappRequest:
      type: object
      properties:
        sender:
          type: string
          description: >
            Registered WhatsApp sender number.


            - Must be in **international format** following the [E.164
            standard](http://en.wikipedia.org/wiki/E.164) (e.g., +14155238886).

            - Number must be registered with the WhatsApp Business API.
        recipient:
          type: string
          format: phone
          description: >
            Recipient phone number in international format.


            - Must follow **E.164 format** (e.g., `+14155238886` for a US
            number).

            - No spaces, dashes, or special characters.

            - The recipient must **have an active WhatsApp account**.

            - Ensure the recipient **has opted in** to receive WhatsApp
            messages.
        content_type:
          $ref: '#/components/schemas/WhatsappContentType'
        content:
          type: object
          description: >
            The message content to be sent.


            - Must follow the WhastApp-approved **template format** or be a
            **custom object** following the Meta Cloud API guidelines.

            - **Example JSON (Text Content):**
              ```json
              {
                "text": {
                  "message": "hello, world!",
                }
              }
              ```
            - **Example JSON (Template Content):**
              ```json
              {
                "template": {
                  "name": "order_update",
                  "parameters": ["123456"]
                }
              }
              ```
            - **Example JSON (Custom Content):**
              ```json
              {
                "custom": {
                  "type": "template",
                  "template": {
                    "name": "template_img_simple_1",
                    "language": {
                      "code": "en",
                      "policy": "deterministic"
                    },
                    "components": [
                      {
                        "type": "HEADER",
                        "parameters": [
                          {
                            "type": "image",
                            "image": {
                              "link": "https://image-test.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
              ```
          oneOf:
            - $ref: '#/components/schemas/TextContent'
            - $ref: '#/components/schemas/TemplateContent'
            - $ref: '#/components/schemas/CustomContent'
        sms_fallback:
          $ref: '#/components/schemas/SMSFallback'
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: >
            A unique reference ID supplied by your system to track messages.


            - **Maximum Length:** 500 characters.

            - This `message_ref` will be included in webhook events, allowing
            you to correlate sent messages with received events.


            **Example Usage:**
             - Sending a message with `message_ref: "order-12345"`
             - Receiving a delivery webhook containing `message_ref: "order-12345"`, confirming it was delivered.
      required:
        - sender
        - recipient
        - content_type
        - content
      example:
        sender: '14155238886'
        recipient: '61411122211'
        content_type: template
        content:
          template:
            name: welcome_new_customer
            parameters:
              - Joe
        message_ref: optional-ref-123
    WhatsappResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        sender:
          type: string
          format: phone
          description: Registered WhatsApp sender number in international format.
        recipient:
          type: string
          format: phone
          description: WhatsApp recipient phone number in international format.
        content_type:
          $ref: '#/components/schemas/WhatsappContentType'
        content:
          type: object
          description: Content details for the message.
          oneOf:
            - $ref: '#/components/schemas/TextContent'
            - $ref: '#/components/schemas/TemplateContent'
            - $ref: '#/components/schemas/CustomContent'
        sms_fallback:
          $ref: '#/components/schemas/SMSFallback'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
      required:
        - id
        - sender
        - recipient
        - content_type
        - content
        - created_at
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        message_ref: optional-ref-123
        sender: '14155238886'
        recipient: '61411122211'
        content_type: template
        content:
          template:
            name: welcome_new_customer
            parameters:
              - Joe
        created_at: '2021-01-01T00:00:00Z'
    WhatsappMessageStatus:
      type: string
      description: Current status of a WhatsApp message.
      enum:
        - QUEUED
        - SENT
        - DELIVERED
        - READ
        - FAILED
    WhatsappMessageEvent:
      type: object
      description: Lifecycle event for a WhatsApp message.
      properties:
        event_type:
          type: string
          description: Type of event that occurred.
          enum:
            - SENT
            - DELIVERED
            - READ
            - FAILED
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            event occurred.
        details:
          type: string
          description: Description of the event.
      required:
        - event_type
        - created_at
        - details
      example:
        event_type: DELIVERED
        created_at: '2024-01-15T14:31:42Z'
        details: Message delivered to recipient device
    WhatsappGetResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        account_id:
          type: string
          description: Account identifier that sent the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        campaign_id:
          type: string
          x-go-type-skip-optional-pointer: true
          description: |
            UUID of the campaign that produced this message.
            Omitted when the message is not associated with a campaign.
        sender:
          type: string
          format: phone
          description: Registered WhatsApp sender number in international format.
        recipient:
          type: string
          format: phone
          description: WhatsApp recipient phone number in international format.
        content_type:
          $ref: '#/components/schemas/WhatsappContentType'
        content:
          type: object
          description: Content details for the message.
          oneOf:
            - $ref: '#/components/schemas/TextContent'
            - $ref: '#/components/schemas/TemplateContent'
            - $ref: '#/components/schemas/CustomContent'
        sms_fallback:
          $ref: '#/components/schemas/SMSFallback'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
        status:
          $ref: '#/components/schemas/WhatsappMessageStatus'
        events:
          type: array
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: events,omitempty
          description: Array of events showing the message history.
          items:
            $ref: '#/components/schemas/WhatsappMessageEvent'
      required:
        - id
        - account_id
        - sender
        - recipient
        - content_type
        - content
        - created_at
        - status
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        account_id: '123123'
        message_ref: optional-ref-123
        campaign_id: 9b2e4c1a-7f3d-4a8b-9c5e-2d1f6a8b3c4d
        sender: '14155238886'
        recipient: '61411122211'
        content_type: template
        content:
          template:
            name: welcome_new_customer
            parameters:
              - Joe
        sms_fallback:
          message: Welcome Joe! Your account is now active.
        created_at: '2021-01-01T00:00:00Z'
        status: DELIVERED
        events:
          - event_type: SENT
            created_at: '2021-01-01T00:00:30Z'
            details: Message sent to WhatsApp gateway
          - event_type: DELIVERED
            created_at: '2021-01-01T00:01:15Z'
            details: Message delivered to recipient device
    WhatsappStatsResponse:
      type: object
      properties:
        start_at:
          type: string
          format: date-time
          description: >-
            Start date for statistics period in RFC3339 format (e.g.,
            2025-08-26T10:30:00Z).
        end_at:
          type: string
          format: date-time
          description: >-
            End date for statistics period in RFC3339 format (e.g.,
            2025-08-26T23:59:59Z).
        totals:
          type: object
          description: Aggregated totals for WhatsApp messages.
          properties:
            sent:
              type: integer
              description: Total number of messages sent.
            delivered:
              type: integer
              description: Total number of messages successfully delivered.
            failed:
              type: integer
              description: Total number of messages that failed to deliver.
            read:
              type: integer
              description: Total number of messages read by recipients.
          required:
            - sent
            - delivered
            - failed
            - read
      required:
        - totals
        - start_at
        - end_at
      example:
        start_at: '2025-01-01T00:00:00Z'
        end_at: '2025-01-01T01:00:00Z'
        totals:
          sent: 10
          delivered: 9
          failed: 1
          read: 8
    WhatsappListMessageItem:
      type: object
      description: Summary representation of a WhatsApp message for list responses.
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        campaign_id:
          type: string
          x-go-type-skip-optional-pointer: true
          description: |
            UUID of the campaign that produced this message.
            Omitted when the message is not associated with a campaign.
        sender:
          type: string
          format: phone
          description: Registered WhatsApp sender number in international format.
        recipient:
          type: string
          format: phone
          description: WhatsApp recipient phone number in international format.
        content_type:
          $ref: '#/components/schemas/WhatsappContentType'
        content:
          type: object
          description: Content details for the message.
          oneOf:
            - $ref: '#/components/schemas/TextContent'
            - $ref: '#/components/schemas/TemplateContent'
            - $ref: '#/components/schemas/CustomContent'
        status:
          $ref: '#/components/schemas/WhatsappMessageStatus'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
      required:
        - id
        - sender
        - recipient
        - content_type
        - content
        - status
        - created_at
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        message_ref: optional-ref-123
        sender: '14155238886'
        recipient: '61411122211'
        content_type: template
        content:
          template:
            name: welcome_new_customer
            parameters:
              - Joe
        status: DELIVERED
        created_at: '2021-01-01T00:00:00Z'
        campaign_id: 9b2e4c1a-7f3d-4a8b-9c5e-2d1f6a8b3c4d
    WhatsappListMessagesData:
      type: object
      description: Container for the list of WhatsApp messages.
      properties:
        messages:
          type: array
          description: Array of WhatsApp messages.
          items:
            $ref: '#/components/schemas/WhatsappListMessageItem'
      required:
        - messages
    WhatsappListMessagesMeta:
      type: object
      description: Metadata for the list messages response including pagination details.
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - pagination
    PaginationMeta:
      title: Pagination Metadata
      description: |
        Pagination metadata for cursor-based pagination.
        Reusable across all paginated API endpoints.
      type: object
      required:
        - type
        - has_next
        - has_prev
      properties:
        type:
          type: string
          description: The pagination strategy being used.
          enum:
            - cursor
          example: cursor
          x-oapi-codegen-extra-tags:
            valid: required
        next_cursor:
          type: string
          description: >-
            Cursor to fetch the next page of results. Omitted if there are no
            more results.
          nullable: true
          example: MTIzNDU2
          x-oapi-codegen-extra-tags:
            json: next_cursor,omitempty
        prev_cursor:
          type: string
          description: >-
            Cursor to fetch the previous page of results. Omitted if on the
            first page.
          nullable: true
          example: MTIzNDkw
          x-oapi-codegen-extra-tags:
            json: prev_cursor,omitempty
        has_next:
          type: boolean
          description: >-
            Indicates whether there are more results available after the current
            page.
          example: true
          x-oapi-codegen-extra-tags:
            valid: required
        has_prev:
          type: boolean
          description: >-
            Indicates whether there are results available before the current
            page.
          example: false
          x-oapi-codegen-extra-tags:
            valid: required
    TooManyRequestsProblem:
      description: >
        HTTP 429 Too Many Requests - Rate limit exceeded.


        Your client application has sent too many requests in a given amount of
        time and should retry later.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#too-many-requests
        title: Too Many Requests
        detail: Rate limit exceeded
        status: 429
    NotFoundProblem:
      description: >
        This problem occurs when the requested resource could not be found.


        Your client application tried to access a resource that does not exist
        (or could not be found). Please review how your users initiated such a
        request.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#not-found
        title: Not Found
        detail: The requested resource was not found
        status: 404
    RcsContentType:
      type: string
      description: Type of the message content.
      enum:
        - text
    RcsMessageStatus:
      type: string
      description: Current status of an RCS message.
      enum:
        - QUEUED
        - SENT
        - DELIVERED
        - READ
        - FAILED
    RCSText:
      type: object
      description: Text content for the message.
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 3072
          description: >
            The text message body.


            **Message Types:**

            - **Basic RCS Messages**: Up to 160 characters (SMS format in RCS)

            - **Simple RCS Messages**: Up to 3072 characters with emoji and
            UTF-8 support
      required:
        - message
    RCSTextContent:
      type: object
      properties:
        text:
          $ref: '#/components/schemas/RCSText'
      required:
        - text
    RCSSMSFallback:
      type: object
      description: >
        Provides intelligent fallback for non-RCS capable devices and carrier
        delivery issues. If the RCS message fails, the SMS will send the
        configured message to the recipient instead.
      properties:
        sender:
          type: string
          description: >-
            The sender number to use for SMS fallback, which can be in
            [E.164](http://en.wikipedia.org/wiki/E.164) international format or
            an alphanumeric sender ID.
          x-go-type-skip-optional-pointer: true
        message:
          type: string
          description: >-
            The message to send through SMS. SMS messages are subject to certain
            character limitations, please read our SMS documentation for
            details.
      required:
        - message
    RCSMessageEvent:
      type: object
      description: Lifecycle event for an RCS message.
      properties:
        event_type:
          type: string
          description: 'Type of event: one of `SENT`, `DELIVERED`, `READ`, `FAILED`.'
          enum:
            - SENT
            - DELIVERED
            - READ
            - FAILED
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            event occurred.
        details:
          type: string
          description: Description of the event.
      required:
        - event_type
        - created_at
        - details
      example:
        event_type: DELIVERED
        created_at: '2024-01-15T14:31:42Z'
        details: Message delivered to recipient device
    RcsRequest:
      type: object
      properties:
        sender:
          type: string
          description: >
            The RCS agent ID assigned to your registered agent.


            Unlike SMS, WhatsApp, and MMS, RCS messages do not come from a phone
            number.

            They are always sent through an agent.


            - Must be a registered RCS agent identifier.

            - Example: `DemoSender`

            - Can be alphanumeric or numeric.
        recipient:
          type: string
          format: phone
          description: >
            The destination number for delivery.

            Can be either in local format or in international format.

            For international format, it should follow the [E.164
            standard](http://en.wikipedia.org/wiki/E.164).


            Examples of conversions to E.164 format:

            - Australia: 0438 333 061 → 61438333061

            - UK: 07123 456 789 → 447123456789
        content_type:
          type: string
          description: Type of the message content (currently only text supported).
          enum:
            - text
        content:
          type: object
          description: >
            The message content to be sent.


            - Supports both Basic RCS messages (160 characters) and Simple RCS
            messages (3072 characters)

            - UTF-8 and emoji support included
          oneOf:
            - $ref: '#/components/schemas/RCSTextContent'
        sms_fallback:
          $ref: '#/components/schemas/RCSSMSFallback'
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: >
            A reference supplied by your system. Maximum length of 500
            characters.


            This reference is included in webhook events so you can relate
            events with the original message.


            For example, being able to relate a Link Hit event to a specific
            sent message.
      required:
        - sender
        - recipient
        - content_type
        - content
      example:
        sender: DemoSender
        recipient: '447903749662'
        content_type: text
        content:
          text:
            message: |-
              Hi Michael,
              Just a quick reminder. You are amazing!!
              Reply STOP to opt out.
        message_ref: order-12345
    RcsResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        sender:
          type: string
          description: Registered RCS Agent ID.
        recipient:
          type: string
          description: Recipient phone number in international format.
        content_type:
          type: string
          description: Type of the message content.
          enum:
            - text
        content:
          type: object
          description: Content of the message.
          oneOf:
            - $ref: '#/components/schemas/RCSTextContent'
        sms_fallback:
          $ref: '#/components/schemas/RCSSMSFallback'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
      required:
        - id
        - sender
        - recipient
        - content_type
        - content
        - created_at
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        message_ref: order-12345
        sender: DemoSender
        recipient: '447903749662'
        content_type: text
        content:
          text:
            message: |-
              Hi Michael,
              Just a quick reminder. You are amazing!!
              Reply STOP to opt out.
        created_at: '2021-01-01T00:00:00Z'
    RcsGetResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        account_id:
          type: string
          description: Account identifier that sent the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        sender:
          type: string
          description: Registered RCS Agent ID.
        recipient:
          type: string
          description: Recipient phone number in international format.
        content_type:
          type: string
          description: Type of the message content.
          enum:
            - text
        content:
          type: object
          description: Content of the message.
          oneOf:
            - $ref: '#/components/schemas/RCSTextContent'
        sms_fallback:
          $ref: '#/components/schemas/RCSSMSFallback'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
        status:
          $ref: '#/components/schemas/RcsMessageStatus'
        events:
          type: array
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            json: events,omitempty
          description: Array of lifecycle events for the message.
          items:
            $ref: '#/components/schemas/RCSMessageEvent'
      required:
        - id
        - account_id
        - sender
        - recipient
        - content_type
        - content
        - created_at
        - status
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        account_id: '123123'
        message_ref: order-12345
        sender: DemoSender
        recipient: '447903749662'
        content_type: text
        content:
          text:
            message: |-
              Hi Michael,
              Just a quick reminder. You are amazing!!
              Reply STOP to opt out.
        created_at: '2021-01-01T00:00:00Z'
        status: DELIVERED
        events:
          - event_type: SENT
            created_at: '2021-01-01T00:00:30Z'
            details: Message sent to Google RCS gateway
          - event_type: DELIVERED
            created_at: '2021-01-01T00:01:15Z'
            details: Message delivered to recipient device
    RcsListMessageItem:
      type: object
      description: Summary representation of an RCS message for list responses.
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        message_ref:
          type: string
          x-go-type-skip-optional-pointer: true
          description: Optional reference ID set by the user for the message.
        sender:
          type: string
          description: Registered RCS Agent ID.
        recipient:
          type: string
          format: phone
          description: RCS recipient phone number in international format.
        content_type:
          $ref: '#/components/schemas/RcsContentType'
        content:
          type: object
          description: Content details for the message.
          oneOf:
            - $ref: '#/components/schemas/RCSTextContent'
        status:
          $ref: '#/components/schemas/RcsMessageStatus'
        created_at:
          type: string
          format: date-time
          description: >-
            Timestamp in RFC3339 format (e.g., 2025-08-26T10:30:00Z) when the
            message was created on the server.
      required:
        - id
        - sender
        - recipient
        - content_type
        - content
        - status
        - created_at
      example:
        id: 6fdae71c-dad7-4c36-9734-a69693ecf3b4
        message_ref: optional-ref-123
        sender: DemoSender
        recipient: '61411122211'
        content_type: text
        content:
          text:
            message: Hi Michael, just a quick reminder. You are amazing!
        status: DELIVERED
        created_at: '2021-01-01T00:00:00Z'
    RcsListMessagesData:
      type: object
      description: Container for the list of RCS messages.
      properties:
        messages:
          type: array
          description: Array of RCS messages.
          items:
            $ref: '#/components/schemas/RcsListMessageItem'
      required:
        - messages
    RcsListMessagesMeta:
      type: object
      description: Metadata for the list messages response including pagination details.
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - pagination
    RcsStatsResponse:
      type: object
      properties:
        start_at:
          type: string
          format: date-time
          description: >-
            Start date for statistics period in RFC3339 format (e.g.,
            2025-08-26T10:30:00Z).
        end_at:
          type: string
          format: date-time
          description: >-
            End date for statistics period in RFC3339 format (e.g.,
            2025-08-26T23:59:59Z).
        totals:
          type: object
          description: Aggregated totals for RCS messages.
          properties:
            sent:
              type: integer
              description: Total number of messages sent.
            delivered:
              type: integer
              description: Total number of messages successfully delivered.
            failed:
              type: integer
              description: Total number of messages that failed to deliver.
            read:
              type: integer
              description: Total number of messages read by recipients.
          required:
            - sent
            - delivered
            - failed
            - read
      required:
        - totals
        - start_at
        - end_at
      example:
        start_at: '2025-01-01T00:00:00Z'
        end_at: '2025-01-01T01:00:00Z'
        totals:
          sent: 10
          delivered: 9
          failed: 1
          read: 8
    RcsCapabilityCheckRequest:
      type: object
      description: Request payload for the synchronous RCS capability check.
      properties:
        sender:
          type: string
          description: |
            The RCS sender assigned to your account.

            - Example: `DemoSender`
        phone_numbers:
          type: array
          description: >
            Phone numbers to check, in
            [E.164](http://en.wikipedia.org/wiki/E.164) format without the
            leading `+`.


            For best latency we recommend batches of 1–10. The endpoint accepts
            up to 100 numbers per request.
          minItems: 1
          maxItems: 100
          items:
            type: string
            format: phone
            example: '61400000000'
      required:
        - sender
        - phone_numbers
      example:
        sender: DemoSender
        phone_numbers:
          - '61400000000'
          - '61400000001'
    RcsCapabilityResult:
      type: object
      description: RCS capability result for a single phone number.
      properties:
        phone_number:
          type: string
          description: >-
            The phone number that was checked, in E.164 format without the
            leading `+`.
        code:
          type: string
          enum:
            - ENABLED
            - UNREACHABLE
            - REJECTED_NETWORK
            - REJECTED_ROUTE_NOT_AVAILABLE
            - REQUEST_FAILED
            - PROCESSING_ERROR
            - INVALID_DESTINATION_ADDRESS
            - UNKNOWN
          description: >
            RCS capability for the number.


            - `ENABLED` — the number can receive RCS messages from the specified
            sender.

            - `UNREACHABLE` — the number cannot receive RCS messages from the
            specified sender.

            - `REJECTED_NETWORK` — message not sent, network not allowed.

            - `REJECTED_ROUTE_NOT_AVAILABLE` — route not available for that
            sender.

            - `REQUEST_FAILED` — external problems during capability check.

            - `PROCESSING_ERROR` — the results for the number couldn't be
            processed; the caller should retry.

            - `INVALID_DESTINATION_ADDRESS` — number provided in wrong format.

            - `UNKNOWN` — unknown error from upstream, or any value the API did
            not otherwise recognise; contact support if it persists.
      required:
        - phone_number
        - code
      example:
        phone_number: '61400000000'
        code: ENABLED
    RcsCapabilityCheckData:
      type: object
      description: Capability check results for the requested phone numbers.
      properties:
        results:
          type: array
          description: One entry per phone number from the request, in the same order.
          items:
            $ref: '#/components/schemas/RcsCapabilityResult'
      required:
        - results
    ForbiddenProblem:
      description: >
        HTTP 403 Forbidden - Access to the requested resource is forbidden.


        Your client application is authenticated but does not have permission to
        access this resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
      example:
        type: https://developers.kudosity.com/reference/errors#forbidden
        title: Forbidden
        detail: Access to this resource is forbidden
        status: 403
    ListSMSRequest:
      type: object
      properties:
        limit:
          type: string
          description: Limit the number of SMS. Defaults to 100 for JSON.
          x-go-type-skip-optional-pointer: true
        page:
          type: string
          description: Page number in combination with limit. Defaults to 1 for JSON.
          x-go-type-skip-optional-pointer: true
        start_date:
          type: string
          format: string
          description: Start date for SMS created, in RFC3339 format.
          x-go-type-skip-optional-pointer: true
        end_date:
          type: string
          format: string
          description: End date for SMS created date, in RFC3339 format.
          x-go-type-skip-optional-pointer: true
        recipient:
          type: string
          description: Recipient filter.
          x-go-type-skip-optional-pointer: true
        sender:
          type: string
          description: Sender filter.
          x-go-type-skip-optional-pointer: true
        message_ref:
          type: string
          description: Message reference filter.
          x-go-type-skip-optional-pointer: true
        status:
          $ref: '#/components/schemas/Status'
        format:
          $ref: '#/components/schemas/Format'
        recipient_countries:
          type: array
          items:
            type: string
          description: >-
            ISO 3166 country codes.
            https://www.iso.org/iso-3166-country-codes.html
        direction:
          $ref: '#/components/schemas/Direction'
        order_by:
          type: array
          items:
            $ref: '#/components/schemas/OrderByField'
          description: Sort order. Default is CREATED_AT_ASC.
    Status:
      type: string
      description: >
        Message status.

        - PENDING: Queued for processing.

        - SENT: Submitted to the provider.

        - FAILED: Failed because of an error from the provider, a carrier, or
        the handset.

        - DELIVERED: Delivered to handset.

        - ACCEPTED: Accepted by the provider and delivery might have been
        attempted (but is not confirmed).

        - SOFT_BOUNCE: Undeliverable due to handset being switched off, out of
        range or other temporary deliverability issue.

        - HARD_BOUNCE: Handset was disconnected.

        - OTHER: Any other DLR status from the provider.

        - REJECTED: Message pending approval was rejected by the Kudosity
        support team.

        - PENDING_APPROVAL: Message is pending approval by the Kudosity support
        team.

        - SUBMITTED: Message is submitted to the provider.

        - UNDELIVERABLE: Message is undeliverable.

        - READ: Message is read by the recipient.
      nullable: true
      enum:
        - PENDING
        - SENT
        - FAILED
        - DELIVERED
        - ACCEPTED
        - SOFT_BOUNCE
        - HARD_BOUNCE
        - OTHER
        - REJECTED
        - PENDING_APPROVAL
        - SUBMITTED
        - UNDELIVERABLE
        - READ
    OrderByField:
      type: string
      description: |
        Sort order. Default is CREATED_AT_ASC.
        - CREATED_AT_ASC: Created at ascending.
        - CREATED_AT_DESC: Created at descending.
      enum:
        - CREATED_AT_ASC
        - CREATED_AT_DESC
    Format:
      type: string
      description: Response format
      nullable: true
      enum:
        - JSON
        - CSV
    Direction:
      type: string
      description: |
        Message direction.
        - OUT: Sent to the provider.
        - IN: Sent from the provider.
      nullable: true
      enum:
        - OUT
        - IN
    SendSMSRequest:
      type: object
      properties:
        message:
          type: string
          description: >
            Body text of the message.

            The message will be split into multiple parts if required. A part is
            160 characters for a single SMS or 153 characters per part for
            multi-part SMS. If the message contains Unicode UTF8 encoded
            characters such as emoji’s or non latin character sets, then a
            single part is 70 characters or 67 characters for multiple parts.


            More information on message length and encoding:
            https://support.transmitsms.com/s/article/44001076957-how-many-characters-can-i-have-in-my-text-message


            If opt-out is required, insert parameter [opt-out-link] into the
            message and a link will be generated.
          x-oapi-codegen-extra-tags:
            valid: required
        message_ref:
          type: string
          maxLength: 500
          description: >
            A reference supplied by your system. This reference will be passed
            back in webhooks so that you can relate events to messages you sent.
            For example, being able to relate a Link Hit event to a specific
            sent message.
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            valid: length(0|500)
        sender:
          type: string
          description: >
            Sender is the number (or alphanumeric) that the message appears from
            on the handset.

            Sender number must be assigned to your account for the country you
            are sending to. Contact us to get sender number(s) registered to
            your account.

            Sender number functionality varies by country. You can send from an
            alphanumeric sender if it is available for the destination country.

            Global SMS delivery list:
            https://support.transmitsms.com/s/article/page-products-connectivity-global-delivery-list


            Alphanumeric senders (which cannot be replied to) have a maximum of
            11 characters. Only letters, numbers, underscore, hyphen or space
            are allowed and they are included in the total character count.
            (Consecutive underscore, hyphen, space is not allowed.)
          x-oapi-codegen-extra-tags:
            valid: required
        recipient:
          type: string
          description: >
            The destination number for delivery.

            Can be either in local format or in international format. Must be in
            the same country as the sender.

            For international format, it should follow E.164 standard.
            http://en.wikipedia.org/wiki/E.164


            Examples of conversions to E.164 format:
              Australia 0438 333 061 => 61438333061
              New Zealand 0212172782 => 64212172782
              USA (281) 869-1226 => 12818691226
          x-oapi-codegen-extra-tags:
            valid: required
        track_links:
          type: boolean
          description: >
            Enable the link tracking feature which replaces links in outbound
            messages with shortened links. This allows us to track when
            recipients view links.
          x-go-type-skip-optional-pointer: true
      required:
        - message
        - sender
        - recipient
    SMSResponse:
      type: object
      description: SMS message details.
      properties:
        id:
          type: string
          description: Unique identifier for the SMS message.
          example: 2d2c8fb6-e514-4f5f-9706-0672b0259218
        recipient:
          type: string
          description: The destination number for delivery.
          example: '61478038915'
        recipient_country:
          type: string
          description: Recipient country code.
          example: AU
        sender:
          type: string
          description: The sender number.
          example: '61481074185'
        sender_country:
          type: string
          description: Sender country code.
          example: AU
        message_ref:
          type: string
          description: Reference supplied by your system.
          example: ncc1701d
          x-go-type-skip-optional-pointer: true
        message:
          type: string
          description: Body text of the SMS message.
          example: Report to the ready room! Opt-out reply STOP
        status:
[...]
